<a href="https://colab.research.google.com/github/Devyani916/PythonBasicsAssignment/blob/main/Data_Structure_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data types and Data structures Assignment**

***Theory Questions***

1. What are data sturctures, and why are they important?
- Data structures are ways to organize, store and manipulate the data in computer memory so that it can be accessed and update effectively. Data sturcture is a fundamental part of computer programming.
-**Why are they important:**


1.   Effective data management
2.   Memory optimization
3.   Make data handling easier
4.   Format programs
5.   Data understanding

********************************************************************************

2. Explain the difference between mutable and immutable data types with examples.
-Difference between mutable and immutable  data types:
1.   Mutable data types
-   It can be changed after creation
-   It can be used to change the size or content of the object
-   Example: List, Dictonaries and Sets.

2.   Immutable data types
-   It can be modified once it has been created
-   If we want to make any changes then we simply need to create a copy of that.
-   Examples: Strings, tuples, ints, floats and bools.

********************************************************************************

3. What are the main differences between lists and tuples in Python?
- Difference between list and tuple:


1.   List is mutable data type whereas tuple is immutable data types
2.   Tuple is more memory efficient as compare to list
3.   Iteration is slightly slower in case of list than that in tuples.
4.   List can be defined using square brackets and tuples defined using parenthesis.
5.   List has more in-built methods (like append(),extend()) and tuples have fewer methods (like count, context).

********************************************************************************

4. Describe how dictionaries store data.
-  Dictionaries stores data 'Key-Value pairs', that is each piece of information is associated with a unique key that allows for quick retrieval of corresponding value. It's like a lookup table where you use a key to find associated data.
-  Example: {"Name": "Saikat",   "age": 27,   "gender": "male"}

********************************************************************************

5. Why might you use a set instead of a list in Python?
-  Use of set is efficient when we dont want duplicates because set can not have multiple occurrences, it removes duplicate values from tuple or list and to perform common math operations like union and intersection.
-  Example:
    - my_set = {"Apple", "Banana", "Grapes"}
    - my_list = ["Apple", "Banana", "Grapes", "Grapes", "Apple"]

********************************************************************************

6. What is a string in Python, and how it is different from a list?
- String is a sequence of a characters which is enclosed with in single or double quotes. Whereas, list is a data structure which stores a sequence of item of any type enclosed with square brackets.
- Strings is immutable and list is mutable.
- Example:
       - string = "Pwskills"
       - lis = [1, 3, "DSA", True, 4+6j]

********************************************************************************

7. How do tuples ensures data integrity in Python?
-  Tuples maintain data integrity in Python by maintaining data consistency and fixed structure. And its immutable nature help to maintain accuracy of data.

********************************************************************************

8. What is a hash table, and how does it relate to dictionaries in Python?
- Hash table is a data structure which implemented as a dictionary and uses hashing function to map keys and values in an array.
- In Python, dictionary is built using hash table where keys are hashable, and used as an input in hash function.

********************************************************************************

9. Can lists contain different data types in Python?
- Yes, in Python lists can different data types as lists are heterogeneous in nature. Lists can contain integer, float, strings, complex number, boolean type, list, tuples, etc.
Example: mylist = [1, 2.3, 3+7j, True, "Pwskills", [1, 2], ("DSA", 1)]

********************************************************************************

10. Explain why strings are immutable in Python?
- Strings are immutable in nature to keep it secure and protect data. Strings are immutable as its can not be changed once it has been created.
Example: mystring = "Devyani"

********************************************************************************

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries prefferd over lists where tasks require fast lookups and searching a specific object/element. It also store more complex data and flexible nature.
- Dictionaries also have wide range of built-in functions.

********************************************************************************


12. Describe a scenario where using a tuple would be preferable over a list.
- The first advantage of using tuple is that its immutable nature which gives us faster and memory efficient performance than a list. Tuple is preferable as keys of dictionary or where the iteration speed is a crucial element.

********************************************************************************

13. How do sets handle duplicate values in Python?
- Set contain unique and no duplicate elements allowed in Python. In set if we added an element, then adding same element again in set will not affect it. It remove duplicate values and maintain single unique values in it.

********************************************************************************

14. How does the "in" keyword work diffently for lists and dictionaries?
- The "in" operation with dictionary tests on keys. Where key of a dictionary  has unique value so it check whether something appear as a key or not. Whereas, in list "in" operation perform search operation whether an element is present in a list or not.

********************************************************************************

15. Can you modify the elements of a tuple? Explain why or why not.
- No, we can not modify the elements of a tuple as it is immutable in nature. Once a tuple is created can't be changed.

********************************************************************************

16. What is a nested dictionary? and give an example of its use case.
- A nested dictionary is nothing but dictionary in a dictionary i.e. we can store a dictionary in dictionary as a value of a key. But we can not define a key as a dictionary.

In [ ]:
# Example of nested dictionary:
my_dict = {"india":{"Maharashtra":"Mumbai"}, "USA":{"California":"Los Angeles"}} #Here, for key india value is another dictionary where maharashtra is a key and value is mumbai
my_dict

{'india': {'Maharashtra': 'Mumbai'}, 'USA': {'California': 'Los Angeles'}}

In [ ]:
# How to access "Mumbai"
print(my_dict["USA"]["California"]) # It gives us value Los Angeles

my_dict["india"]["Maharashtra"] #It gives us value mumbai

Los Angeles

'Mumbai'

********************************************************************************

17. Describe the time complexity of accessing elements in a dictionary.
- Dictionaries in Python provide a fast and efficient way to store and retrieve data using key value pair so understanding the time complexities of dictionary operations is very important for optimizing performance in our programs.
- The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.

********************************************************************************

18. In what situations are lists preferred over dictionaries?
- Lists are preferred with ordered collection of data and in case of sequential operations like stack and queue, sorting, etc.
- Whereas, dictionaries are faster in case of lookups and hash tables.

********************************************************************************

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries considered as unordered as it does not maintain any order of key-value pairs while iterating. Dictionary can't be accessed using indexing as it is unordered but values can be accessed more effectively using a key.
- Dictionary implemented based on hash function optimization which focused on quick search of value using keys.

________________________________________________________________________________

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- A list retrieves data based on its position in the sequence using an index number, while a dictionary retrieves data using a specific "key" which is associated with the desired value.
- Dictionary allows faster lookups by directly accessing the key rather than iterating through a list to find the correct position.
- Lists are ordered collections accessed by index, while dictionaries are key-value pairs accessed by the key itself.

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------

***Practical Questions***

1. Write a code to create a string with your name and print it.

In [4]:
# Code create string with my name and print it
my_name = "Devyani"
print(my_name)

Devyani

--------------------------------------------------------------------------------

2. Write a code to find the length of the string "Hello World".

In [6]:
# Code to find the length of string
string = "Hello World"
len(string)

11

********************************************************************************

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [7]:
# Slicing
string = "Python Programming"
string[:3]

'Pyt'

********************************************************************************

4. Write a code to convert the string "hello" to uppercase.

In [8]:
# Convert string to uppercase
string1 = "hello"
string1.upper()

'HELLO'

********************************************************************************

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [10]:
# Replacing the word
fruit_string = "I like apple"
fruit_string

'I like apple'

In [11]:
fruit_string.replace("apple", "orange") #Replace apple with orange

'I like orange'

********************************************************************************

6. Write a code to create a list with numbers 1 to 5 and print it.

In [12]:
# Create a list with number and print it
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

********************************************************************************

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [13]:
#Append operation
my_list = [1, 2, 3, 4]
my_list #original list

[1, 2, 3, 4]

In [15]:
my_list.append(10)
my_list # list after appending 10

[1, 2, 3, 4, 10, 10]

********************************************************************************

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [16]:
mylist = [1, 2, 3, 4, 5]
mylist

[1, 2, 3, 4, 5]

In [17]:
#remove 3 from above list
mylist.remove(3)
mylist

[1, 2, 4, 5]

********************************************************************************

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [19]:
list1 = ['a', 'b', 'c', 'd']
print(f"This is my list:\n{list1}")
print(f"Second element of the list is:\n {list1[1]}")

This is my list:
['a', 'b', 'c', 'd']
Second element of the list is:
 b

********************************************************************************

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [21]:
Num_list = [10, 20, 30, 40, 50]
print(f"The given list is:\n {Num_list}\n")
print(f"The reversed list is:\n {Num_list[::-1]}") # Reversed the list

The given list is:
 [10, 20, 30, 40, 50]

The reversed list is:
 [50, 40, 30, 20, 10]

********************************************************************************

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [22]:
my_Tuple = (100, 200, 300)
print(f"This is my tuple:\n {my_Tuple}")

This is my tuple:
 (100, 200, 300)

********************************************************************************

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [24]:
Color_tuple = ('red', 'green', 'blue', 'yellow')
print(f"This is my tuple:\n {Color_tuple}\n")
print(f"The required element of the tuple is:\n {Color_tuple[-2]}") # returns second to last element of the tuple

This is my tuple:
 ('red', 'green', 'blue', 'yellow')

The required element of the tuple is:
 blue

********************************************************************************

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [26]:
tuple1 = (10, 20, 5, 15)
print(f"This is my tuple:\n {tuple1}\n")
print(f"The minimum number in the tuple is:\n {min(tuple1)}")

This is my tuple:
 (10, 20, 5, 15)

The minimum number in the tuple is:
 5

********************************************************************************

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [28]:
Animal_tuple = ('dog', 'cat', 'rabbit')
print(f"The given tuple is:\n {Animal_tuple}\n")
print(f"The index of the element 'cat' is:\n {Animal_tuple.index('cat')}") # Give the index of cat in given tuple

The given tuple is:
 ('dog', 'cat', 'rabbit')

The index of the element 'cat' is:
 1

********************************************************************************

15. Write a code to create a tuple containing three different fruits and checks if "kiwi" is in it.

In [30]:
Fruits = ('blueberry', 'stawberry', 'pineapple')
print(f"The tuple of 3 fruits is:\n {Fruits}\n")
print(f"kiwi is in the tuple: {'kiwi' in Fruits}") # Kiwi is not present hence it give o/p False

The tuple of 3 fruits is:
 ('blueberry', 'stawberry', 'pineapple')

kiwi is in the tuple: False

In [33]:
Fruits = ('blueberry', 'kiwi', 'pineapple')
print(f"The tuple of 3 fruits is:\n {Fruits}\n")
print(f"kiwi is in the tuple is {'kiwi' in Fruits} at index {Fruits.index('kiwi')}") # It gives true and index of element

The tuple of 3 fruits is:
 ('blueberry', 'kiwi', 'pineapple')

kiwi is in the tuple is True at index 1

********************************************************************************

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [34]:
#Create a set and print it
MySet = {'a', 'b', 'c'}
print(f"This is my set:\n {MySet}") # Print set but not in the same order as set is unordered

This is my set:
 {'c', 'a', 'b'}

********************************************************************************

17. Write a code to clear all elements from the set {1,2,3,4,5}.

In [41]:
set1 = {1, 2, 3, 4, 5}
print(f"{set1} is the set.\n")
print(f"After clearing the set:")
set1.clear() # clear the set and returns empty set
set1

{1, 2, 3, 4, 5} is the set.

After clearing the set:

set()

********************************************************************************

18. Write a code remove the element 4 from the set {1,2,3,4}.

In [42]:
S = {1, 2, 3, 4}
print(f"Given set:\n{S}\n")
print(f"After removing 4 from the set:") # Removes 4 from the set
S.remove(4)
S

Given set:
{1, 2, 3, 4}

After removing 4 from the set:

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [44]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(f"Two sets are:\n s1 = {s1}\n s2 = {s2}\n")
print(f"Union of two sets is:\n {s1|s2}") # | pipe symbol used to get union of two sets

Two sets are:
 s1 = {1, 2, 3}
 s2 = {3, 4, 5}

Union of two sets is:
 {1, 2, 3, 4, 5}

********************************************************************************

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [48]:
Set1 = {1, 2, 3}
Set2 = {2, 3, 4}
print(f"Two sets are:\n Set1 = {Set1}\n Set2 = {Set2}\n")
print(f"Intersection of above two sets is:\n {Set1&Set2}") # & symbol used to get intersection of two sets

Two sets are:
 Set1 = {1, 2, 3}
 Set2 = {2, 3, 4}

Intersection of above two sets is:
 {2, 3}

********************************************************************************

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [50]:
Info_dict ={"name":"Devyani", "age":27, "city":"Yavatmal"}
print(f"This is my dictionary:\n {Info_dict}")

This is my dictionary:
 {'name': 'Devyani', 'age': 27, 'city': 'Yavatmal'}

********************************************************************************

22. Write a code to add a new key-value pair "country":"USA" to the dictionary {"name":"john", "age":25}.

In [63]:
my_dict = {"name":"John", "age":25}
print(f"The given dictionary is:\n my_dict = {my_dict}")
my_dict["country"]= "USA" # add key-value i.e. "country":"USA" pair to dictionary
print(f"\nAfter adding new key-value pair:\n my_dict = {my_dict}")

The given dictionary is:
 my_dict = {'name': 'John', 'age': 25}

After adding new key-value pair:
 my_dict = {'name': 'John', 'age': 25, 'country': 'USA'}

********************************************************************************

23. Write a code to access the value associated with the key "name" in the dictionary {"name":"Alice", "age":30}.

In [67]:
Profile_dict = {"name":"Alice", "age":30}
print(f"The value associated with key name is:")
Profile_dict["name"]

The value associated with key name is:

'Alice'

********************************************************************************

24. Write a code to remove the key "age" from the dictionary {"name":"Bob", "age":22, "city":"New York"}.

In [72]:
Dict = {"name":"Bob", "age":22, "city":"New York"}
print(f"The dictionary is:\n{Dict}\n")
print(f"After removing the key 'age':")
del Dict["age"]
Dict

The dictionary is:
{'name': 'Bob', 'age': 22, 'city': 'New York'}

After removing the key 'age':

{'name': 'Bob', 'city': 'New York'}

********************************************************************************

25. Write a code to check if the key "city" exists in the dictionary {"name": "Alice", "city": "Paris"}.

In [80]:
info_dict = {"name":"Alice", "city":"Paris"}
print(f"The dictionary is:\n{info_dict}\n")
print(f"The key 'city' exists in the dictionary:")
'city' in info_dict #checks whether city exists in dictionary or not. On presence returns True else False

The dictionary is:
{'name': 'Alice', 'city': 'Paris'}

The key 'city' exists in the dictionary:

True

********************************************************************************

26. Write a code to create a list, a tuple and a dictionary and print them all.

In [84]:
list2 = [1, 2, 3, 4]  # Create a list
tuple2 = (1, 2, 3, 4) #Create a tuple
Dict2 = {"name":"Saikat", "age":27, "city":"Puri"} # Create a dictionary
print(f"This is my list:\n {list2}\n\nThis is my tuple:\n {tuple2}\n\nThis is my dictionary:\n {Dict2}") #print created list, tuple and dictionary

This is my list:
 [1, 2, 3, 4]

This is my tuple:
 (1, 2, 3, 4)

This is my dictionary:
 {'name': 'Saikat', 'age': 27, 'city': 'Puri'}

********************************************************************************

27. Write a code to create a list of 5 random numbers between 1 to 100, sort it in ascending order, and print the result.

In [100]:
no_list = [50, 80, 70, 90, 10]
print(f"Entered list is:\n{no_list}\n")
sorted_list = sorted(no_list) # sort list in ascending order
print(f"Sorted list is:\n{sorted_list}")

Entered list is:
[50, 80, 70, 90, 10]

Sorted list is:
[10, 50, 70, 80, 90]

********************************************************************************

28. Write a code to create a list with strings and print the element at the third index.

In [101]:
lis = ["pwskills", "DSA", "python", "c++"] #list created
print(f"This is my list:\n{lis}\n")
print(f"Element at third index is:\n{lis[3]}") # print element at 3rd index

This is my list:
['pwskills', 'DSA', 'python', 'c++']

Element at third index is:
c++

********************************************************************************

29. Write a code to combine two dictionaries into one and print the result.

In [102]:
d1 = {"name":"Saikat", "age": 27}
d2 = {"city":"Puri", "state":"Odisa"}
print(f"Two dictionaries to combine are:\n d1 = {d1}\n d2 = {d2}")
print(f"\nCombined dictionary is:\n {d1|d2}") # combine two dictionaries

Two dictionaries to combine are:
 d1 = {'name': 'Saikat', 'age': 27}
 d2 = {'city': 'Puri', 'state': 'Odisa'}

Combined dictionary is:
 {'name': 'Saikat', 'age': 27, 'city': 'Puri', 'state': 'Odisa'}

********************************************************************************

30. Write a code to convert a list of strings into a set.

In [107]:
Str_list = ["Devyani", "Mitra", "Saikat", "Mitra"] #list created
Converted_set = set(Str_list) #Convert list of strings into set, duplicates will be removed in set
print(f"This is my list:\n{Str_list}\n")
print(f"This is my set:\n{Converted_set}")

This is my list:
['Devyani', 'Mitra', 'Saikat', 'Mitra']

This is my set:
{'Saikat', 'Devyani', 'Mitra'}

In [110]:
type(Str_list)

list

In [111]:
type(Converted_set)

set

________________________________________________________________________________
________________________________________________________________________________