<a href="https://colab.research.google.com/github/Devyani916/PythonBasicsAssignment/blob/main/EDA_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**EDA-1** : **BIKE DETAILS DATASET**

1. What is the range of selling prices in the dataset?

In [ ]:
import pandas as pd


df = pd.read_csv('/BIKE_DETAILS.csv')

# Find minimum values
min_values = df['selling_price'].min()

# Find maximum values
max_values = df['selling_price'].max()

# Calculate range
range_values = max_values - min_values

# Print the range for each column
print(range_values)

755000

2. What is the median selling price for bikes in the dataset?

In [ ]:
median =df['selling_price'].median()

#print median list price of bikes
print(median)

45000.0

3. What is the most common seller type?

In [ ]:
import pandas as pd
df = pd.read_csv('/BIKE_DETAILS.csv')
print(df['seller_type'].value_counts())

seller_type
Individual    1055
Dealer           6
Name: count, dtype: int64

4. How many bikes have driven more than 50000 kilometers?

In [ ]:
import pandas as pd
df = pd.read_csv('/BIKE_DETAILS.csv')
b = df[df['km_driven']>50000].value_counts()
print(b)

name                      selling_price  year  seller_type  owner      km_driven  ex_showroom_price
Bajaj Pulsar 135 LS       20000          2010  Individual   1st owner  80000      64589.0              2
Honda Activa [2000-2015]  23000          2009  Individual   1st owner  95000      50267.0              2
Bajaj Discover 100        28000          2015  Individual   2nd owner  52000      42859.0              1
Bajaj Discover 110        15000          2007  Individual   1st owner  70000      52710.0              1
Bajaj Discover 125        10000          2006  Individual   1st owner  51000      57549.0              1
                                                                                                      ..
Yamaha FZ16               40000          2016  Individual   1st owner  93000      78712.0              1
Yamaha Fascino 110        45000          2016  Individual   1st owner  56000      54500.0              1
Yamaha Fazer [2009-2016]  25000          2013  Individual   1st owner  120000     84751.0              1
                          45000          2014  Individual   1st owner  57700      84751.0              1
                          50000          2012  Individual   1st owner  100000     84751.0              1
Name: count, Length: 86, dtype: int64

5. What is the average km_driven value for each ownership type?

In [ ]:
import pandas as pd
df = pd.read_csv('/BIKE_DETAILS.csv')
print(df.groupby('owner')['km_driven'].mean())

owner
1st owner     32816.583333
2nd owner     39288.991870
3rd owner     33292.181818
4th owner    311500.000000
Name: km_driven, dtype: float64

6. What proportion of bikes are from the year 2015 or older?

In [ ]:
import