<a href="https://colab.research.google.com/github/Devyani916/PythonBasicsAssignment/blob/main/FunctionsAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Functions** **Assignment**

***Theory Questions:***

1. What is the difference between a function and a method in Python?
- **Function** is seperate block of code which can be used independently and call anywhere. Also function can be reused multiple times whenever needed.

- **Method** is a associated with the class and which can be used using dot notation. It can used as per the behaviour of an object.

In [17]:
#Example of a function
def func():
  return "This is a function"

func() #Calling of the function in the code

'This is a function'

In [18]:
#Example of a method
class A:
  def m(self):
    print("This is a method")

obj = A()
obj.m() #Calling a method with "." notation with object

This is a method

*************************************

2. Explain the concept of function argument and parameters in Python.
- **Function argument** are actual values that you can provide to a function when you call it. This aregument can be used to perform some specific task.
- **Parameters** are the placeholder or variable names which are defined in brackets after function name while defining the function.

In [19]:
#Example:
def addition(a,b):
  # a and b are the parameters
  return a+b

addition(2,3) # 2 and 3 are the arguments

5

*******************************************

3. What are the different ways to define and call a function in Python.
- Different ways to call a function:

In [20]:
# 1. Call a function using Function_name followed by paranthesis
#Example.
def func():
  print("Hello World!")

func()

Hello World!

In [21]:
# 2. Call a function with an argument
#Example:
def func(name):
  print(f"hello {name}")

func("devyani")

hello devyani

In [22]:
# 3. Call a function that returns a value
#Example:
def func(a, b):
  return a+b

func(2,3)

5

In [23]:
# 4. Function with the default argument
#Example
def func(name="Saikat"): #if no name paased while function called then by default it gives default value
  print(f"Hello {name}")

func("Devyani")

Hello Devyani

In [24]:
func() #no argument value has been paased so default value will be printed

Hello Saikat

In [25]:
# 5. Function with variable number of argument>>syntax>> def func(*argument_name)
#Example:
def func(*args):
  sum1 = 0
  for i in args:
    sum1 += i

  return sum1

func(1,4,5,9)

19

In [26]:
# 6. Function with keyword arguments>> syntax is **kwargs in paranthesis. It returns key-value pair as an output.
# It allows to pass variable number of keyword arguments
#Example:
def lis(**kwargs):
  for key,value in kwargs.items():
    print(f"{key} : {value}")

lis(name="Saikat", age=27, gender= "male", experience=3, city="Puri")

name : Saikat
age : 27
gender : male
experience : 3
city : Puri

In [27]:
# 7. Call a function inside a function
#Example:
def myhome(x):
  print(f"{x} is a member of home")

def home(*members):
  for mem in members:
    myhome(mem)

home("Devyani","Saikat","Mummy","Papa")

Devyani is a member of home
Saikat is a member of home
Mummy is a member of home
Papa is a member of home

*********************************

4. What is the purpose of the 'return statement' in Python function?
- **Return statement** used to when a function wants to return a result of any calculation or data manipulation. Return statement used at the end of the function which terminates the execution and returns the result.

In [28]:
#Example:
def calc(a,b):
  multiply = a*b
  return multiply #return statement returns the result i.e. multiplication of two numbers

calc(9,7)

63

5. What are iterators in Python and how do they differ from ieterables?
- Iterotor in python is an object that is used to iterate over iterable objects like lists, tuples, dicts, and sets.
- Iterator object can be initialized using 'iter()' method. It uses 'next' method for iteration.

In [29]:
#Example:
fruits=("Orange", "Apple", "Stawberry")
iter_obj = iter(fruits)
for i in fruits:
  print(next(iter_obj))

Orange
Apple
Stawberry

6. Explain the concept of generators in Python and how they are defined.
- Generator functions in Python are the way to create iterators in a more concise and memory-efficient manner.
- It allows iterator over large sequence of data without loading entire data into memory.It uses the yield keyword to produce a series of values one at a time instead of returning all in one result.

In [30]:
#Example:
def wonders():
  yield "Dudu"
  yield "Mummy"
  yield "Papa"
  yield "Sonu-Monu"

for my in wonders():
  print(f"{my} is my wonder!")

Dudu is my wonder!
Mummy is my wonder!
Papa is my wonder!
Sonu-Monu is my wonder!

7. What are the advantages of using generators over regular functions?
- **Advantages of using generators instead of regular functions**:
-Uses yield keyword: It uses yield in place of return statement which make code more efficient as it pauses the execution and resume execution from there when we call gerenator again.
-Eazy evaluation: Generator uses lazy evaluation method that means the values are generated on-the-fly and only when requested. This is mainly useful we want to work on large data or infinite sequence.
-Memory efficiency: Generators are memory-efficient as they dont stores all the values in memory at once. Each value is generated and consumed one at a time which is suitable when data sets is large and memory is at high concern.

In [31]:
#Example:
def fib(): #generator function for fibbonacci series
  a, b = 0, 1
  for i in range(10):
    yield a
    a, b= b, a+b

for i in fib():# iteration for generator fun fib()
  print(i)

0
1
1
2
3
5
8
13
21
34

8. What is a lambda function in python and when is it typically used?
- A lambda function in Python is a concise way to create anonymous function, known as lambda expression. Lambda function are often used for short-term operation and defined in a single line.
- Lambda function can have any number of input parameters but can only defined in a single line.
- Lambda function is useful for shorterm task, specific task where you dont need extensive logic or full flegde program.

In [32]:
#Example:
is_even = lambda x: print(f"{x} is a even number.") if x%2==0 else print(f"{x} is a odd number.")
is_even(6)

6 is a even number.

In [33]:
is_even(3)

3 is a odd number.

9. Explain the purpose and usage of the 'map()' function in Python.
- The map() function in Python is a built-in function that applies a given function to all the items in an iterable and returns an iterable map object of the results.
syntax:
map(func, iterable, ...)

In [34]:
#Example:
#Square of an number:
l1 = [1, 2, 3, 4, 5, 6]
sq_number = list(map(lambda x: x**2, l1)) # using lambda function
print(sq_number)

[1, 4, 9, 16, 25, 36]

In [35]:
#Example:
l2= [1, 3, 5, 7, 9]
def add1(x):
  return x+5

s =list(map(add1, l2)) #with regular function
print(s)

[6, 8, 10, 12, 14]

10. What is the difference between 'map()', 'reduce()' and 'filter()' functions in Python.
- **map()** function executes a specified function for each of item of an iterables. Syntax: map(func, iterable)
- **reduce()** function will always take two arguments. It summarized the values of an iterable into a single result. Syntax: reduce(func(x,y),iterable)
reduce() does not accept empty iterable and will throw an error.
- **filter()** function will the elements from an iterable based on some condition. Syntax: filter(func, iterable)

In [36]:
#Example
shop_list = [{"Name":"apple", "Cost":10}, {"Name":"Oranges", "Cost":12}, {"Name":"Grapes", "Cost":50}]
Items_Available = list(map(lambda x: x["Name"], shop_list)) #map function used to print all items available
print(Items_Available)

['apple', 'Oranges', 'Grapes']

In [37]:
#Example
from functools import reduce
Total = reduce(lambda x,y: x+y, map(lambda x: x["Cost"], shop_list)) #reduce function which gives sum of the cost of all the products
print(Total)

72

In [38]:
#Example
shop_list.append({"Name":"Cabbage", "Cost":20})
shop_list.append({"Name":"Tomato", "Cost":25})
print(shop_list)

[{'Name': 'apple', 'Cost': 10}, {'Name': 'Oranges', 'Cost': 12}, {'Name': 'Grapes', 'Cost': 50}, {'Name': 'Cabbage', 'Cost': 20}, {'Name': 'Tomato', 'Cost': 25}]

In [39]:
Fruits = list(filter(lambda x: x["Name"]=="apple" or x["Name"]=="Oranges" or x["Name"]=="Grapes", shop_list)) #filter function to print only fruits
print(Fruits)

[{'Name': 'apple', 'Cost': 10}, {'Name': 'Oranges', 'Cost': 12}, {'Name': 'Grapes', 'Cost': 50}]

11. Using pen & Paper write the internal mechanism for sum operation using reduce function on this given list:[47,11,42,13];

In [40]:
Num1= [47,11,42,13]
s_Total= reduce(lambda x,y: x+y, Num1)
print(s_Total)

113

-

************************************************************************ ************************************************************************

**Practical Questions**

1. Write a Python function that takes a list of numbers as an input and returns the sum of all the even numbers in the list.

In [41]:
numList = [1,3,2,5,4,6,7,8,9,10,12,11]
def add_even(numList):
  sumEven = 0
  for i in numList:
    if i%2 == 0:
      sumEven += i
    else:
      continue
  return sumEven

add_even(numList)

42

***********************************************

2. Create a Python function that accepts a string and returns the reverse of that string.

In [42]:
String1 = input("Enter the string:")
print(f"String entered by you is: {String1}")
def str_rev(String1):
  for i in String1:
    s = String1[::-1]
  return print(f"\nThe reverse of the string is:{s}")



str_rev(String1)

Enter the string:saikat
String entered by you is: saikat

The reverse of the string is:takias

*********************************************

3. Implement a Python function that takes a list of integers and returns a new list containing square of each number.

In [43]:
l = [1, 2, 4, 5, 6]
print(f"String provided : {l}")
x=[]
def sq_list(l):
  for i in l:
    x.append(i**2)

  return x

sq_list(l)

String provided : [1, 2, 4, 5, 6]

[1, 4, 16, 25, 36]

***********************************************

4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [44]:
#Prime is a number which is divisible by itself and 1. eg: 2, 3, 5, 7, 11, etc
def is_prime(num):
  if num > 1 and num <= 200:
    if num <= 1:
      print(f"{num} is not a prime number")
    else:
      for i in range(2, num//2+1):
        if num%i == 0:
          print(f"{num} is not a prime number")
          break
        else:
          print(f"{num} is a prime number")
          break

  else:
    print(f"{num} is out of range")


is_prime(201)

201 is out of range

In [45]:
is_prime(11)

11 is a prime number

In [46]:
is_prime(4)

4 is not a prime number

************************************************

5. Create an iterator class in Python that generates the Fibonacci sequence upto a specified number of terms.

In [64]:
#Example
class Fibonacci:
  def __init__(self, limit):
    self.limit = limit
    self.a, self.b = 0, 1

  def __iter__(self):
    return self
  def __next__(self):
    if self.a > self.limit:
      raise StopIteration
    else:
      self.a, self.b = self.b, self.a+self.b
      return self.a


iter_obj = iter(Fibonacci(100))
for i in range(10):
  print(next(iter_obj))

1
1
2
3
5
8
13
21
34
55

************************************************

6. Write a generator function in Python that yields the power of 2 up to a given exponent.

In [47]:
end= int(input("Enter the exponent:"))
def generator_power():
  for i in range(1, end+1):
    yield 2**i

for i in generator_power():
  print(i)

Enter the exponent:5
2
4
8
16
32

************************************************

7. Implement a generator function that reads a file line by line and yields each line as a string.

In [48]:
#Example
def Read_file_generator():
  try:
    with open("file.txt", "r") as f:
      for line in f:
        yield line

  except FileNotFoundError:
    print("File not found")
    return # stops the generator

for i in Read_file_generator():
  print(i)

File not found

************************************************

8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [49]:
lis_tuples =[("devu", "sai", "mitra"),("pratik", "Diksha", "vivek", "monu"), ("sanju", "Bhai", "Viju")]
print(f"List of tuples provided:\n{lis_tuples}\n")
lis_tuples.sort(key=lambda x: x[1])  # sort the list based on second element i.e. x[1] of tuples
print(f"Sorted list of tuples:\n{lis_tuples}")

List of tuples provided:
[('devu', 'sai', 'mitra'), ('pratik', 'Diksha', 'vivek', 'monu'), ('sanju', 'Bhai', 'Viju')]

Sorted list of tuples:
[('sanju', 'Bhai', 'Viju'), ('pratik', 'Diksha', 'vivek', 'monu'), ('devu', 'sai', 'mitra')]

************************************************

9. Write a Python program that uses 'map()' to convert a list temperatures from celcius to fahrenheit.

In [78]:
temp_list = [20, 12, 30, 25]
def temp_conv(temp_list):
  fahren_list = list(map(lambda x: (x*9/5)+32, temp_list))
  return fahren_list

temp_conv(temp_list)

[68.0, 53.6, 86.0, 77.0]

10. Create a Python program that uses 'filter()' to remove all the vowels from a given string.

In [73]:
vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
str_ing= input("Enter the string:")
print(f"\nString entered by you is: {str_ing}\n")
list(filter(lambda x : x not in vowels, str_ing))

Enter the string:data science

String entered by you is: data science

['d', 't', ' ', 's', 'c', 'n', 'c']

************************************************

11. Imagine an accounting routine used in a book shop. It works on a list with sublist, which looks like this:
-
Order Number >>    Book Title and Author>>      Quantity>>     Price per Item


-
Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the product of the price per item and the quantity. The product should be increased by 10, if the value of the order is smaller than 100.00.
-

Write a program using map and lambda function.

In [88]:
# Example
orders = [ ["34587", "  Learning Python, Mark Lutz", 4, 40.95],
           ["98762", "   Programming Python, Mark Lutz", 5, 56.80],
           ["77226", "   Head First Python, Paul Barry", 3, 32.95],
           ["88112", "   Einführung in Python3, Bernd Klein", 3, 24.99]]
print(f"Order Number\tBook Title and Author\tQuantity\tPrice per Item\n{orders[0]}\n{orders[1]}\n{orders[2]}\n{orders[3]}")

order_list = list(map(lambda x: (x[0], x[2]*x[3]) if x[2]*x[3] >= 100 else (x[0], x[2]*x[3]+10), orders))
print(f"\nOrderNumber  TotalPrice\n{order_list[0]}\n{order_list[1]}\n{order_list[2]}\n{order_list[3]}")
#
#

Order Number	Book Title and Author	Quantity	Price per Item
['34587', '  Learning Python, Mark Lutz', 4, 40.95]
['98762', '   Programming Python, Mark Lutz', 5, 56.8]
['77226', '   Head First Python, Paul Barry', 3, 32.95]
['88112', '   Einführung in Python3, Bernd Klein', 3, 24.99]

OrderNumber  TotalPrice
('34587', 163.8)
('98762', 284.0)
('77226', 108.85000000000001)
('88112', 84.97)

************************************************************************************************